{% extends 'book/main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_author.css' %}">
{% endblock style %}

{% block content %}

    <div class="container">
        <div id="add-success-modal" class="add-success-modal">
            <i id="close" class="fa-solid fa-xmark fa-2xl"></i>
            <img src="{% static 'images/tick.png' %}" alt="">
            <div class="add-success-text">
                <h2 class="mt-5">Book Added</h2>
                <h2>Successfully</h2>
            </div>
        </div>
        

        <div class="row justify-content-center py-5">
            <div class="add-book-heading col-12 d-flex justify-content-center">
                <h4><span>Add book</span></h4>
            </div>

            <div class="book-info ">
                <div class="row justify-content-center">
                    <form action="" method="POST" id="add-form">
                        {% csrf_token %}
                        {% comment %} <div class="col-12 all-cards">
                        
                            <div class="row px-3 mb-3">
                                <div class="col-12">
                                    <label for="" class="form-label px-1 mt-3">Book Name</label>
                                </div>
                                <div class="col-12">
                                    {{ form.name }}
                                </div>
                            </div>

                        </div> {% endcomment %}
                        {{form.as_p}}
                        <div class="col-12">
                            <button type="submit" class="btn btn-general">Save</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_name').addClass('form-control')
            $('#id_authors').addClass('form-control')
            $('#id_genres').addClass('form-control')
            $('#id_no_of_copies').addClass('form-control')
            $('#id_status').addClass('form-select')
            $('#id_description').addClass('form-control')

            //$('.dynamic-author').on('click', '.btn-dynamic-add', function() {
            //    var inputField = $('<div class="col-9 mt-3"><input type="text" name="authors" class="form-control"></div>');
            //    var addButton = $('<div class="col-3 mt-3"><button class="btn btn-add-books btn-dynamic-add" type="button">Add another Author</button></div>');
            //    var removeButton = $('<button class="btn btn-remove-books btn-dynamic-remove" type="button">Remove Author</button>');
            //    var addButtonParent = $(this).parent()

            //    $(this).parent().after(inputField, addButton); // add these two divs 'inputField, addButton' after the clicke add button
            //    $(this).parent().prepend(removeButton);        //add the remove button before the clicked 'add button'. If we used 'append' we would have removed the first child
            //    addButtonParent.children().eq(1).remove();     //remove the second element of the parent div (remove the button)                
            //});   

        });

        $('.dynamic-author').on('click', '.btn-dynamic-add', function(e) {
                e.preventDefault();
                var inputField = $('<div class="col-9 mt-3"><input type="text" name="authors" class="form-control"></div>');
                var addButton = $('<div class="col-3 mt-3"><button class="btn btn-add-books btn-dynamic-add" type="button">Add another Author</button></div>');
                var removeButton = $('<button class="btn btn-remove-books btn-dynamic-remove" type="button"><i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i></button>');

                var addAuthor = $(`<div class="row pe-0 mb-3">
                                        <div class="col-lg-11 dynamic-input-field">
                                            <input type="text" name="authors" class="form-control">
                                        </div>
                                        <div class="col-lg-1 pe-0 dynamic-add-remove-btns">
                                            <button class="btn btn-add-books btn-dynamic-add" type="button"><i class="fa-solid fa-plus fa-xl" style="color: #ffffff;"></i></button>
                                        </div>
                                    </div>`)
                var addButtonParent = $(this).parent()

                $(this).parent().parent().after(addAuthor); // add div 'addAuthor' after the clicke add button
                $(this).parent().prepend(removeButton);        //add the remove button before the clicked 'add button'. If we used 'append' we would have removed the first child
                addButtonParent.children().eq(1).remove();     //remove the second element of the parent div (remove the button)                
            });

            $('.dynamic-author').on('click', '.btn-dynamic-remove', function(e) {
                e.preventDefault();
                $(this).parent().parent().remove(); // add div 'addAuthor' after the clicked add button
                            
            });

            $('.dynamic-genre').on('click', '.btn-dynamic-add', function(e) {
                e.preventDefault();
                var inputField = $('<div class="col-9 mt-3"><input type="text" name="genres" class="form-control"></div>');
                var addButton = $('<div class="col-3 mt-3"><button class="btn btn-add-books btn-dynamic-add" type="button">Add another Author</button></div>');
                var removeButton = $('<button class="btn btn-remove-books btn-dynamic-remove" type="button"><i class="fa-solid fa-xmark fa-xl" style="color: #ffffff;"></i></button>');

                var addAuthor = $(`<div class="row pe-0 mb-3">
                                        <div class="col-lg-11 dynamic-input-field">
                                            <input type="text" name="genres" class="form-control">
                                        </div>
                                        <div class="col-lg-1 pe-0 dynamic-add-remove-btns">
                                            <button class="btn btn-add-books btn-dynamic-add" type="button"><i class="fa-solid fa-plus fa-xl" style="color: #ffffff;"></i></button>
                                        </div>
                                    </div>`)
                var addButtonParent = $(this).parent()

                $(this).parent().parent().after(addAuthor); // add div 'addAuthor' after the clicke add button
                $(this).parent().prepend(removeButton);        //add the remove button before the clicked 'add button'. If we used 'append' we would have removed the first child
                addButtonParent.children().eq(1).remove();     //remove the second element of the parent div (remove the button)                
            });

            $('.dynamic-genre').on('click', '.btn-dynamic-remove', function(e) {
                e.preventDefault();
                $(this).parent().parent().remove(); // add div 'addAuthor' after the clicked add button
                            
            });

            $('#add-form').submit(function(e){
                e.preventDefault()

                var formData = $(this).serialize()
                console.log('formData: ', formData)

                $.ajax({
                    url: '/add_book',
                    method: 'POST',
                    dataType: 'json',
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    data: formData,
                    //data: {
                    //    'content': 'xxx',
                        //'csrfmiddlewaretoken': '{{ csrf_token }}',
                    //},
                    
                    success: function(data){
                        console.log(data);
                        if(data.success === 'success'){
                            $('#add-success-modal').addClass('add-success-show')
                            console.log('data:', data);

                            setTimeout(function() {
                                $('#add-success-modal').removeClass('add-success-show');
                            }, 2000);
                        }
                    },
                    error: function(xhr, status, error) {
                        // Handle the error response, if needed
                        console.log(error);
                    }
                });
                $('#close').click(function(){
                    $('#add-success-modal').removeClass('add-success-show')
                    console.log('clicked')
                })

            });
            

    </script>

{% endblock content %}
